###############################################################################
# Set language
###############################################################################
*.* linguist-language=python
